beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
deep-translator==1.11.4
gTTS==2.5.4
idna==3.10
langdetect==1.0.9
pygame==2.6.1
pyperclip==1.9.0
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
requests==2.32.3
shiboken6==6.9.0
six==1.17.0
soupsieve==2.7
typing_extensions==4.13.2